<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Address Search</title>
	<link href="style.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://www.evidentlycochrane.net/wp-content/uploads/2019/07/Magnifying_glass_icon.svg_.png" type="image/png">
	<script src=https://unpkg.com/vue></script>
	<script src=https://unpkg.com/vuex></script>
	<script src=https://unpkg.com/axios/dist/axios.min.js></script>
</head>
<body>
	<a class="about" href=/about>
		about
	</a>
	<div id="app">
		<div class="main-container">
			<h2>Input the address</h2>
			<div id="custom-search-input">
				<input
					type="text"
					placeholder="Search"
					@change="search"
				>
				<span>
					<button
						type="button"
						@click="search"
					>
				</span>
			</div>
		</div>
		<div
			class="res-content"
			v-show="quantity > 0"
		>
			<div class="head-row">
				<div
					class="col"
					v-for="head in headers"
				>
					{{head}}
				</div>
			</div>
			<div 
				class="row"
				v-for="(address, index) in addresses"
				:key='index'
			>
				<div
					class="col"
					v-for="(value, name) in address"
					:key='name'
				>
					{{value}}
				</div>
			</div>
		</div>
	</div>
	<script>
		(function(){
			Vue.use(Vuex);
			const store = new Vuex.Store({
				state: {
					addresses: [],
					headers: [
						'Zip',
						'City',
						'Street',
						'House',
						'Flat'
					]
				},
				getters: {
					ADDRESSES: state => {
						return state.addresses;
					},
					HEADERS: state => {
						return state.headers;
					}
				},
				mutations: {
					SET_ADDRESSES: (state, payload) => {
						state.addresses = payload;
					}
				},
				actions: {
					GET_ADDRESSES_FROM_API: async (context, payload) => {
						let bodyFormData = new FormData();//from py flask
						bodyFormData.set('data', encodeURI(payload))
						let {data} = await axios.post('/getData',
						bodyFormData,
						{
							headers:{
								'Content-Type':'multipart/form-data'
							}
						}
						);
						data = function(_data) {
							let retArr = [];
							for (obj of _data) {
								let retObj = {};
								retObj['Zip'] = obj.data.postal_code || "none";
								retObj['City'] = obj.data.city || "none";
								retObj['Street'] = obj.data.street || "none";
								retObj['Street'] = obj.data.street || "none";
								retObj['House'] = obj.data.house || "none";
								retObj['Flat'] = obj.data.flat || "none";
								retArr.push(retObj);
							}
							return retArr;
						}(data.suggestions ? data.suggestions : []);
						context.commit('SET_ADDRESSES', data);
					}
				}
			});
			const app = new Vue({
				el: "#app",
				store,
				// render: h => h(App),
				methods: {
					search(event) {
						event.preventDefault();
						this.$store.dispatch('GET_ADDRESSES_FROM_API', event.target.value || event.target.parentNode.parentNode.value);
					}
				},
				computed: {
					quantity() {
						return this.$store.getters.ADDRESSES.length;
					},
					addresses() {
						return this.$store.getters.ADDRESSES;
					},
					headers() {
						return this.$store.getters.HEADERS;
					}
				}
			});
		}());
		</script>
</body>
