body {
	background-color: gainsboro;
}
.main-container {
	display: flex;
	font-family: Impact, fantasy;
	font-size: 33px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.main-container > h2 {
	filter: drop-shadow(-5px 2px 2px grey);
	margin-bottom: 0.2em;
}

#custom-search-input {
	display: flex;
	flex-direction: row;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	min-width: 300px;
	width: 60%;
}

#custom-search-input input {
	padding-right: 40px;
	padding-left: 3px;
	width: 100%;
	height: 34px;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#custom-search-input input:focus + button {
	z-index: 3;
}

#custom-search-input button {
	cursor: pointer;
	border: 0;
	background-color: #ffffff00;
	transition: filter 300ms linear;
	padding: 0;
	margin-top: 7px;
	position: relative;
	left: -36px;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 25px;
	width: 25px;
	background-size: cover;
	background-image: url(https://www.evidentlycochrane.net/wp-content/uploads/2019/07/Magnifying_glass_icon.svg_.png);
	outline: none;
}

#custom-search-input button:hover {
	filter: contrast(10%);
}

.res-content {
	display: flex;
	flex-direction: column;
	border-top: solid 1px gray;
	border-left: 1px solid gray;
	margin-top: 20px;
}
.head-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
}

.head-row > .col {
	border-bottom: 2px solid gray;
}

.col {
	display: flex;
	flex: 1;
	justify-content: center;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
}

a.about {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 10px;
	margin-top: 5px;
	text-decoration: none;
	color: inherit;
	background-color: #b9b9b9;
	padding: 4px;
	border-radius: 3px;
}

a.about:hover {
	filter: drop-shadow(0px 0px 5px #b9b9b9)
}